/*CSS Reset*/
*{
    margin: 0px  !important;
    padding: 0px !important;
    font-family: 'Alpino', sans-serif !important;
    color: black !important;
    overflow: hidden !important;
/*    background-color: red;*/
}
/*Navigation*/
#navbar{
    flex-direction: row !important;
    height: 9% !important;
}

/*home section*/
#home::before{
    height: 30% !important;
}

/*services section*/
#services{
    display: flex !important;
    flex-direction: column !important;
}
/*client*/
.clients-names::before{
   height:81% !important;

}
.client-item{
    margin: auto !important;
}
#clients{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
/*contact us*/
.contact-us::before{
   height:25% !important;
}
/*Footer*/
footer{
    width: 95.9% !important;
}
