/*CSS Reset*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Alpino', sans-serif;
    color: black;
    scroll-behavior: smooth;
}

/*CSS Variables*/
:root{
    --navbar-height:60px;
}
/*Nav bar logo*/
#logo img{
    width:60px;
    height:60px;
    margin: 10px 25px;
/*Navbar */
}
body::before{
/*background-color: black;*/
    position: absolute;
    top: 0px;
    left: 0px;
    
    margin: 0px;
    padding: 0px;
    z-index: -1;
    content: "";
    height: 15%;
    width:100%;
    opacity: 1;
}
#navbar{
    display: flex;
    background-color: black; /*#100E0E;*/ /*Color of navbar is here*/
    padding: 0px 0px;
    height: 65px;
/*    opacity: 0.9;*/
    align-items: center; /*For vertical*/
/*    justify-content: center;*/
/*    list-style: none;*/
/*    list-style: none;*/
}

/*Nav bar navbar*/
#navbar ul{
display: flex;
    font-size: 1.1rem;
}

#navbar ul li{
    font-size: 1.1rem;
    list-style: none;
    padding: 10px;
}
#navbar ul li a{
    text-decoration: none;
    color: white;
/*    color:black;*/
}
#navbar ul li a:hover{
    text-decoration: none;
    color: darkgray;
    background-color: white;
    padding: 2px 4px;
    border-radius: 11px;
/*    color:black;*/
}
/*Home Section*/
#home::before{
/*background-color: black;*/
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    content: "";
    height: 100%;
    width: 100%;
    background : url('https://github.com/Karthik-R-R/sample-food-website/blob/main/img/spaghetti-1932466_1920.jpg?raw=true') center center/cover no-repeat;
    opacity: 0.85;
}
#home > h1{
    color: white;
}
#home > p{
    color: white;
}
.services-container{
    margin-bottom: 60px;
}

#home{
display: flex;
/*    border: 2px solid green;*/
    margin: 115px 50px 210px 50px;
    flex-direction: column;
    padding: 60px 35px;
/*    height: 633px;*/
    align-items: center;
    justify-content: center;
}
.h-primary{
    font-size: 2.7rem;
    padding: 10px 10px;
}
#home h1{
    text-align: center; 
}
#btn1{
    padding:4px 6px;
    color: black;
    background-color: #7CB342;
    border-radius: 11px;
    font-size: 1.2rem;
    border: 4px solid white;
/*    cursor: pointer;*/
}
#btn1:hover{
    padding:4px 6px;
    color: black;
    cursor: pointer;
    background-color: #409144;
    border-radius: 11px;
    font-size: 1.2rem;
    border: 4px solid white;
}
/*Services section*/
.h-secondary{
    font-size: 1.9rem;
    padding: 10px 10px;
    color: black;
/*    margin: 10px;*/
}
.box p{
    color: black;
}
.center{
    text-align: center;
}
#services{
    display: flex;
    margin: 30px;
}
#services .box{
 border: 2px solid darkgreen;
    padding: 20px 25px;
    margin: 2px 10px;
    border-radius: 20px;
    background-color: #CAC2C3;
}
#services .box img{
/* border: 2px solid white;*/
    height: 105px;
/*    width:100px;*/
    display: block;
    margin: auto;
}
.services-container h1{
    color: black; /*Comment it*/
}
/*Clients section*/
.clients-names::before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height:45%;
    background: url('https://github.com/Karthik-R-R/sample-food-website/blob/main/img/Roasted_coffee_beans.jpg?raw=true') center center/cover no-repeat;
    opacity: 0.5;
}
#clients{
    display: flex;
    justify-content: center;
    align-content: center;
}
#clients img{
    height: 125px;
    border: 2px solid black;
    border-radius: 11px;
    padding: 20px;
    margin: 10px 10px;
    background: white;
}
/*Contact Section*/
.contact-us::before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height:67%;
    background: url('https://github.com/Karthik-R-R/sample-food-website/blob/main/img/pexels-pixabay-263564.jpg?raw=true') center center/cover no-repeat;
    opacity: 0.5;
}
.contact-us h1{
    margin: 16px 5px;
}
/*Contact Us*/
#contact-form{
/*    justify-content: center;*/
/*    align-content: center;*/
/*    display: block;*/
/*    flex-direction: column;*/

}
#contact-form input, #contact-form label{
    display: block;
    margin: auto;
    width: 30%;
    padding: 5px;
}
#contact-form label{
    font-size: 1.1rem;
}
#contact-form input{
    border-radius: 11px;
}
#splsubmit{
/*    padding: 2px !important;*/
/*    margin: 10px 10px !important;*/
    width: 10% !important;
    margin: auto !important;
}
/*Footer*/
footer{
    position: absolute;
    width: 97.8%;
    background-color: black;
    padding: 15px 15px;
}
footer div{
    color: white;
}
